<table class="table">
  <thead>
    <tr>
      <th *ngIf="config?.permission?.delete">
        <md-checkbox (change)="toggleSelectAll($event)" [checked]="allSelected"></md-checkbox>
      </th>
      <th *ngFor="let field of config?.fields" [class.td-sort]="config?.sort?.field == field.field">
          <a mdTooltip="Ordenar pelo nome" (click)="changeSort(field.field)">
            <span>  {{ field?.title }}</span>
            <md-icon *ngIf="config?.sort?.order == 'asc' && config?.sort?.field == field.field">arrow_upward</md-icon>
            <md-icon *ngIf="config?.sort?.order == 'desc' && config?.sort?.field == field.field">arrow_downward</md-icon>
          </a>
        </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="config?.isLoading">
      <td class="loadingTable" [attr.colspan]="fieldsLength">
        <md-progress-bar mode="indeterminate"></md-progress-bar>
      </td>
    </tr>
    <tr *ngIf="!config?.isLoading && data?.length==0" >
      <td class="feedbackTable" [attr.colspan]="fieldsLength">Nenhum concluinte encontrado</td>
    </tr>
    <tr *ngFor="let row of data; let i = index;" [ngStyle]="row.styleRow || {}">
      <td *ngIf="config?.permission?.delete">
        <md-checkbox [checked]="row._checked" (change)="changedCheckbox(i, $event)"></md-checkbox>
      </td>
      <td *ngFor="let field of config?.fields">
        {{row[field.field]}}
      </td>
      <td>
        <button md-icon-button *ngIf="row.actionsRow?.update || (config?.permission?.update && row.actionsRow?.update == undefined)"
                class="button-edit" (click)="edit(i)" mdTooltip="Editar">
                
          <md-icon>edit</md-icon>
        </button>
        <button md-icon-button *ngIf="row.actionsRow?.update || (config?.permission?.view && row?.actionsRow?.view == undefined)"
                (click)="view(i)" linkRouter="['add', id]" class="button-edit" mdTooltip="Visualizar">
          <md-icon>remove_red_eyes</md-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<md-paginator #paginator [length]="config?.paginatorLength"
              [pageSize]="config?.paginatorPageSize"
              [pageSizeOptions]="config?.paginatorPageSizeOptions"
              (page)="changedPage($event)">
</md-paginator>