@media screen and (min-width: 900px) {
  #content {
    margin: auto;
    position: absolute;
    top: 150px; left: 0; bottom: 0; right: 0;
    width: 80%;
  }
}

@media screen and (max-width: 899px) {
  #content {
    margin: auto;
    position: absolute;
    top: 150px; left: 0; bottom: 0; right: 0;
    width: 90%;
  }
}

.logo {
  width: 48px;
}

#actions-area {
  width: 30%;
  text-align: right;
}

#actions-area md-icon {
  color: #fff;
}

#main {
  width: 100%;
  height: 100vh;
}

#menu-area {
  width: 30%;
  color: #fff;
}

#search-area {
  width: 40%;
}

#search-area div {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #e0e0e0;
  box-shadow: 0 0 10px 0 #000;
  color: #000;
}

#search-area input {
  width: 85%;
  height: 30px;
  font-size: 20px;
}

#search-area md-icon {
  color: #fff;
  position: relative;
  top: 5px;
}

#search-area md-card {
  margin: 0;
  padding: 0;
}

#toolbar-main {
  background-color: #bdbdbd;
}