<md-sidenav-container id="main">
  <md-toolbar id="toolbar-main">
    <div id="menu-area">
      <md-icon md-button (click)="sidenav.open()" class="sidenav-icon"><a>menu</a></md-icon>  
    </div>

    <div id="search-area">
      <div class="w100p">
        <input type="text" mdInput placeholder="Search">

        <md-icon>search</md-icon>
      </div>
    </div>

    <div id="actions-area">
      <!--account_circle start-->
      <md-icon md-button [mdMenuTriggerFor]="accountSettings"><a>account_circle</a></md-icon>
      <md-menu #accountSettings="mdMenu" [overlapTrigger]="false" yPosition="below">
        <button md-menu-item>
          <md-icon>person</md-icon> 
          <span>Profile</span>
        </button>

        <button md-menu-item (click)="logout()">
          <md-icon>power_settings_new</md-icon> 
          <span>Logout</span>
        </button>
      </md-menu>
      <!--account_circle end-->
      
      <!--view_module start-->
      <md-icon md-button [mdMenuTriggerFor]="viewModule"><a>view_module</a></md-icon>
      <md-menu #viewModule="mdMenu" [overlapTrigger]="false" yPosition="below">
        <button md-menu-item>Item 1</button>
        <button md-menu-item>Item 2</button>
      </md-menu>
      <!--view_module end-->
    </div>
  </md-toolbar>
  
  <md-sidenav #sidenav class="example-sidenav">
    <md-toolbar>
      <md-icon (click)="sidenav.close()" class="sidenav-icon"><a>menu</a></md-icon>
        
      <span class="spacer"></span>
          
      <img src="./../../assets/img/logo.png" alt="Blueprint Module" class="logo"> Blueprint
    </md-toolbar>

    <md-nav-list>
      <md-list-item>
        <a routerLink="/home/dashboard"(click)="sidenav.close()">
          <md-icon class="sidenav-item-icon">dashboard</md-icon> 
          <span class="sidenav-item">Dashboard example</span>
        </a>
      </md-list-item>

      <md-list-item>
        <a routerLink="/home/form"(click)="sidenav.close()">
          <md-icon class="sidenav-item-icon">mode_edit</md-icon> 
          <span class="sidenav-item">Form group example</span>
        </a>
      </md-list-item>

      <md-list-item>
        <a routerLink="/home/form-builder"(click)="sidenav.close()">
          <md-icon class="sidenav-item-icon">mode_edit</md-icon> 
          <span class="sidenav-item">Form builder example</span>
        </a>
      </md-list-item>

      <md-list-item>
        <md-icon class="sidenav-item-icon">view_list</md-icon> 
        <span class="sidenav-item">List example</span>
      </md-list-item>
    </md-nav-list>
  </md-sidenav>

  <div id="content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>