<h1 md-dialog-title> {{ dialogText }} </h1>

<md-dialog-content>
  <table class="w100p h20">
    <tr class="w100p" style="background-color: pink;">
      <th class="w14p">Dom</th>
      <th class="w14p">Seg</th>
      <th class="w14p">Ter</th>
      <th class="w14p">Qua</th>
      <th class="w14p">Qui</th>
      <th class="w14p">Sex</th>
      <th class="w14p">Sáb</th>
    </tr>

    
  </table>
</md-dialog-content>

<md-dialog-actions>
    <button md-button md-dialog-close color="warn" type="button">CANCEL</button>
    <button md-button color="primary">UPLOAD</button>
</md-dialog-actions>