<div class="background"></div>

<md-card class="content">
  <div class="main-title">
    <img src="./assets/img/logo.png" alt="Blueprint Module" class="logo">
  </div>
  
  <form id="form" (ngSubmit)="login(email.value, password.value)">
    <div>
      <md-input-container>
        <span md-prefix>
          <md-icon>person_outline</md-icon>
        </span>
        
        <input type="text" mdInput placeholder="E-mail" #email autocomplete="off">
      </md-input-container>
    </div>

    <div>
      <md-input-container>
        <span md-prefix>
          <md-icon>vpn_key</md-icon>
        </span>
        
        <input type="password" mdInput placeholder="Password" #password autocomplete="off">
      </md-input-container>
    </div>
    
    <div id="remember-password">
      <md-checkbox>Remember my password</md-checkbox>
    </div>

    <div>
      <button md-raised-button type="submit" id="button-login">Login</button>
    </div>
    
    <div id="forgot-password">
      <a>Forgot your password?</a>
    </div>
  </form>
  
  <div id="signup">
    <hr>
    <a routerLink="/signup">Signup</a>
  </div>
</md-card>
