<div class="float-left w49p">
  <md-card>
    <md-card-title>
      SOMETHINGS
    </md-card-title>
  </md-card>

  <form [formGroup]="somethingChildForm" (ngSubmit)="onSubmit()" >
    <md-card>
      <md-input-container class="w100p">
        <input type="text"
        formControlName="field_0_simpleInput"
        [ngModel]="somethingChild?.simpleInput"
        mdInput placeholder="Simple Input">
      </md-input-container>

      <md-error *ngIf="somethingChildForm.controls.field_0_simpleInput.hasError('required') && somethingChildForm.controls.field_0_simpleInput.touched">
        Campo obrigatório
      </md-error>

      <md-error *ngIf="somethingChildForm.controls.field_0_simpleInput.hasError('minlength') && somethingChildForm.controls.field_0_simpleInput.touched">
        Mínimo de 10 caracteres
      </md-error>
    </md-card>

    <md-card>
      <md-select placeholder="Simple Select" 
      [ngModel]="somethingChild?.simpleSelect" 
      formControlName="field_0_simpleSelect">
        <md-option *ngFor="let thing of thingsToSelect" [value]="thing.id">
          {{thing.description}}
        </md-option>        
      </md-select>

      <md-error class="select-error" *ngIf="somethingChildForm.controls.field_0_simpleSelect.hasError('required') && somethingChildForm.controls.field_0_simpleSelect.touched">
        Campo obrigatório
      </md-error>
    </md-card>

    <md-card>
      <bonamondo-upload [visual]="{text: 'Fazer upload', dialogText: 'Adicionar algo'}"></bonamondo-upload>
    </md-card>

    <md-card>
      <form-multiple-autocomplete [class]="class" [arraySource]="arraySource"></form-multiple-autocomplete>
    </md-card>

    <md-card>
      <md-card-actions>
        <div *ngIf="somethingChild == undefined">
          <button type="submit" md-raised-button (click)="onSubmit()" [disabled]="!somethingChildForm.valid">Create</button>
        </div>

        <div *ngIf="somethingChild != undefined">
          <button type="submit" md-raised-button (click)="onSubmit()" [disabled]="!somethingChildForm.valid">Update</button>
        </div>
      </md-card-actions>
    </md-card>
  </form>
</div>

<div class="float-right w49p">
  <md-card>
    <md-card-title>
      LIST OF SOMETHINGS
    </md-card-title>
    <span *ngIf="isLoading"><md-progress-bar mode="indeterminate"></md-progress-bar></span>
    <span *ngIf="!isLoading && !somethingsChild"> There is nothing in this list </span>
    <div *ngFor="let somethingChild of somethingsChild; let i = index;">
      <span *ngIf="!isLoading" class="w80p">
        <a (click)="delete(somethingChild[i].id)">
          <md-icon>delete_forever</md-icon>
        </a>
        <a (click)="readSomethingChild(somethingChild[i].name)">{{ somethingChild[i].name }}</a>        
      </span>
    </div>
  </md-card>
</div>

<div class="clear-both"></div>