<h1 md-dialog-title> {{ dialogText }} </h1>

<md-dialog-content id="dragAndDropArea">
  <div class="uploads"></div>
  <div [class]="class" (dragleave)="onDragLeave()" (dragover)="onDragOver($event)" (drop)="onDrop($event)" id="dropzone" *ngIf="uploadValue.length < 1">
    {{ dragAndDropText }}
  </div>

  <div [class]="class" (dragleave)="onDragLeave()" (dragover)="onDragOver($event)" (drop)="onDrop($event)" id="dropzone" *ngIf="uploadValue.length > 0">
    <div *ngFor="let value of uploadValue; let i = index" class="w100p">
      <div class="w95p float-left"><md-icon class="md-18">{{ value.mdIcon }}</md-icon> {{ value.name }}</div> <div class="w5p float-left"><md-icon class="md-18" (click)="remove(i)">clear</md-icon></div>
    </div>
  </div>
</md-dialog-content>

<md-dialog-actions>
    <button md-button md-dialog-close color="warn" type="button">CANCEL</button>
    <button md-button color="primary">UPLOAD</button>
</md-dialog-actions>