.dropList {
    width: 100%;
    min-height: 200px;
    border: 2px dashed #673ab7;
    color: #000;
    text-align: left;
}

.dropzone {
    width: 100%;
    min-height: 200px;
    border: 2px dashed #ccc;
    color: #ccc;
    line-height: 200px;
    text-align: center;
}

.dropzone.dragover {
    border-color:#673ab7;
    color: #673ab7;
}

.float-left {
  float: left;
}

.w5p { width: 5%; } .w95p { width: 95%; } .w100p { width: 100%; }